/* You can add global styles to this file, and also import other style files */

html, body {
  // background-color: #2196F3;
}

body {
  margin-bottom: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#chat-mensajes {
  height: 300px;
  // border: 1px solid grey;
  border-radius: 5px;
  overflow-y: scroll;
}

.chat-input {
  // border-radius: 20px;
  border: none !important;
  font-size: 12px !important;
  padding: 1.2rem 1rem 1.2rem 0rem !important;
  margin: 0 !important;
  background-color: transparent !important;

  &:focus, &:active{
    outline: none !important;
  }
}

.chat-input-container {
  border-radius: 20px;
  border: 1px solid #ced4da;
  display: flex;
  align-items: center;
  padding: 0px 0px 0 15px;
  background-color: white;
}

.custom-button {
  background-color: #03A9F4;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.message-box-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.margin-top-10 {
  margin-top: 10px;
}

.ft-15 {
  font-size: 15px;
}

.title {
  font-size: 25px !important;
  text-align: center;
  font-weight: 400;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.user-message {
  border: none !important;
  display: flex;
  align-items: flex-end;
}

.current-user {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196F3;
  color: white;
}

.current-message {
  display: flex;
  align-items: center;
  /* padding-right: 3rem; */
  border-radius: 13px 13px 13px 2px;
  min-width: 10rem;
  max-width: 16rem;
  padding: 7px 10px;
  background-color: #f6f6f8;
  border: none;
  color: #3c3c3c;
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-control-custom {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.text-right {
  flex-direction: row-reverse;

  .current-message {
    border-radius: 13px 13px 2px 13px !important;
    background-color: #edeef7 !important;
    span {
      text-align: end;
      width: 100%;
    }
  }

  .current-user {
    background-color: #FF9800 !important;
  }
}

.chat-container {
  position: absolute;
  width: 100%;
  min-height: 36rem !important;
  height: 22rem !important;
  background-color: #e8e8e8;
  padding-top: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.active-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;

  span {
    font-size: 13px;
  }
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.active-users-container {
  display: flex;

  .active-user {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02a9f4;
    border-radius: 50%;
    color: white;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .pd-sm-0 {
    padding: 0 !important;
  }

  .pd-r-0-sm,
  .pd-lr-0-sm {
    padding-right: 0 !important;
  }

  #chat-mensajes {
    height: auto;
    min-height: 80px;
    // border: 1px solid grey;
    border-radius: 5px;
    overflow-y: scroll;
  }

  .message-box-container {
    position: fixed;
    bottom: 0;
    z-index: 999;
  }
}
